*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Variáveis de font-size, font-family, color e back-color */

:root{
    /* colors */

    --black: #000000;
    --back-color-default: #151515;
    --color-nav-perfil-item-select: #151515;
    --secondary-color-gold: #DBC96C;
    --text-color: #ffffff;
    --back-nav-perfil-item: #212121;
    --border-img-perfil: #d9d9d950;
    

    /* fonts */

    
    --menu-item-montserrat: 'Montserrat', sans-serif;
    --nav-perfil-item: 'Montserrat', sans-serif;
    --text-article: 'Montserrat', sans-serif;
    --content-menu-montserrat: 'Montserrat', sans-serif;
    --title-h1: 'Montserrat', sans-serif;

    /* font size */

    --size-nav-perfil-item: 12px;
    --size-article: 12px;
    --size-title-h1: 20px;
}

/* DEFAULT STYLE */

body{
    background-color: var(--back-color-default);
    background-image: url(../assets/usuario/background-mobile.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (min-width: 700px){
  body{
    background-image: url(../assets/geral/background-desktop/background-perfil-desktop-2.webp);
  }
}
button{
    background: none;
    border: none;
}
a{
  text-decoration: none;
}

/* MENU */

nav#nav-general{
  width: 100vw;
  height: auto;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav#nav-general h2{
font-family: var(--subtitle-page-montserrat);
font-weight: bold;
font-size: 12px;
color: var(--text-color);

display: flex;
align-items: center;
gap: 1rem;
}

nav#nav-general .menu{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;

gap: 1rem;

margin-top: 2rem;
padding-bottom: 2rem;

width: 70%;
}

nav#nav-general .menu h3{
font-family: var(--menu-item-montserrat);
font-size: 30px;
font-weight: 600;
color: var(--text-color);

margin-bottom: 1rem;
}

nav#nav-general .menu a.item-menu{
    padding-left: 1rem;
  
    width: 100%;
    height: 54px;
  
    display: flex;
    align-items: center;
  
  
    border-radius: 10px;
  
    font-family: var(--menu-item-montserrat);
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    color: var(--text-color);
  
    gap: 1rem;
  }
  
  nav#nav-general .menu .perfil-or-login{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
  }
  
  nav#nav-general .menu .perfil-or-login .img-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 70px;
    height: 70px;
  
    background-color: var(--back-img-perfil-menu);
    border-radius: 50px;
  }
  
  nav#nav-general .menu .perfil-or-login .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--text-color);
  
    row-gap: 0.5rem;
  }
  
  nav#nav-general .menu .perfil-or-login .text #welcome{
    text-shadow: 2px 2px var(--black);
    font-family: var(--menu-item-montserrat);
    font-size: 12px;
  
    color: var(--text-color);
  }
  
  nav#nav-general .menu .perfil-or-login .text #name-user-or-login{
    display: flex;
    align-items: center;
  
    column-gap: 0.7rem;
  
    text-shadow: 2px 2px var(--black);
    font-family: var(--menu-item-montserrat);
    font-size: 20px;
    font-weight: bold;
  
    color: var(--text-color);
  }
  @media(max-width: 350px){
    nav#nav-general .menu .perfil-or-login .text #name-user-or-login{
      font-size: 14px;
    }
  }

nav#nav-general .menu .perfil-or-login .text hr{
width: 100%;
}

nav#nav-general .menu .perfil-or-login .text #see-perfil{
text-shadow: 2px 2px var(--black);
font-family: var(--content-menu-montserrat);
font-size: 12px;
font-weight: 500;

text-decoration: none;
color: var(--text-color);
}


/* HEADER STYLE */

header.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 2rem;
    padding-inline: 1rem;

    flex-wrap: wrap;
}

header.header #openMenu{
  cursor: pointer;
}

header.header .menu-large{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;

    column-gap: 2rem;
}

header.header .menu-large a{
    font-family: var(--menu-item-montserrat);

    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 0.5rem;

    padding: 1rem;
}

header#header-page nav.menu-large p#p-login{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    row-gap: 0.5rem; 
    padding: 1rem; 
    background-color: var(--back-nav-perfil-item); 
    border-radius: 14px;
  }

@media (min-width:1350px){
    header.header #openMenu{
        display: none;
    }

    header.header .menu-large{
        display: flex;
    }
}

/* NAV perfil */

.nav-perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-perfil nav{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 2rem;

  padding-block: 1rem;
  padding-inline: 1rem;
}
.nav-perfil nav button{
    width: 93px;
    height: 25px;

    border-radius: 12.5px;
    background-color: var(--back-nav-perfil-item);
    color: var(--text-color);

    font-family: var(--nav-perfil-item);
    font-size: var(--size-nav-perfil-item);
    font-weight: bold;

    cursor: pointer;
}
.nav-perfil nav button.btn-select-category{
    background-color: var(--secondary-color-gold); 
    color: var(--color-nav-perfil-item-select);
}

@media (min-width: 700px){
  .nav-perfil nav button{
    width: 110px;
  }
  :root{
    --size-nav-perfil-item: 14px;
  }
}

/* MAIN STYLE */

main.main{
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADER OF MAIN STYLE */

main.main header.header-main{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.main header.header-main #back-perfil-img{
  width: 100%;
}
main.main header.header-main #span-img-perfil{
  margin-top: -58px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 5px solid var(--border-img-perfil);
  border-radius: 50%;

  padding: 3px;
}
main.main header.header-main #span-img-perfil #img-perfil{
  width: 100px;
  height: 100px;

  border-radius: 50%;
  object-fit: cover;
}

main.main header.header-main h1#username{
  font-family: var(--title-h1);
  font-size: var(--size-title-h1);
  color: var(--text-color);

  padding-block: 17px;
}


